<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Create Products | Admin</title>
</head>
<body>
    <div id="wrapper" class="bg-white h-screen w-full flex">
        <div id="left" class="w-1/4 h-screen pt-24 px-8">
            <h1 class="text-black font-medium text-xl"><span class="text-2xl font-bold text-indigo-700">SCATCH</span> SHOP</h1>
            <a class="text-black font-thin hover:font-bold" href="#">All Products</a><br>
            <a class="text-black font-thin hover:font-bold" href="#">Create New Product</a><br>
        </div>
        <div id="right" class="w-3/4 h-screen py-24 px-10">
            <h1 class="font-bold text-2xl">Create New Product</h1>
            <h2>Product Details</h2>
            <form action="/products/create" method="post" enctype="multipart/form-data">
                <p class="font-bold text-xl my-2">Product Image: </p>
                <input type="file" name="image" id="product-img" value="Select Product Image"><br>
                <input class="my-2 px-2 py-1 outline-none border-2 border-gray-300 rounded focus:border-gray-600 w-[40%]" type="text" name="productname" id="product-name" placeholder="Product Name"> 
                <input class="my-2 px-2 py-1 outline-none border-2 border-gray-300 rounded focus:border-gray-600 w-[40%]" type="number" name="price" id="product-price" placeholder="Product Price">
                <input class="my-2 px-2 py-1 outline-none border-2 border-gray-300 rounded focus:border-gray-600 w-[40%]" type="number" name="discount" id="product-discount" placeholder="Discount Price">
                <p class="font-bold text-xl mt-2">Panel Details:</p>
                <input class="my-2 px-2 py-1 outline-none border-2 border-gray-300 rounded focus:border-gray-600 w-[40%]" type="text" name="bgcolor" id="bg-color" placeholder="Background Color">
                <input class="my-2 px-2 py-1 outline-none border-2 border-gray-300 rounded focus:border-gray-600 w-[40%]" type="text" name="panelcolor" id="panel-color" placeholder="Panel Color">
                <input class="my-2 px-2 py-1 outline-none border-2 border-gray-300 rounded focus:border-gray-600 w-[40%]" type="text" name="txtcolor" id="text-color" placeholder="Text Color"><br>
                <input class="px-3 py-1 bg-blue-600 rounded text-white cursor-pointer hover:bg-blue-700" type="submit" value="Create New Product">
            </form>
        </div>
    </div>
</body>
</html>